body {
  background: #eff1fc;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App .app-header {
  margin: 50px 0 40px;
}

.App h1 {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
