.Meanings h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}

.Meanings .results {
  padding: 5px 0;
  font-size: 18px;
  line-height: 2;
}

.Meanings .examples {
  font-style: italic;
  font-weight: 450;
  color: #0539aa;
}
